@import 'tailwindcss';

@font-face {
  font-family: "Onest:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Onest_wght__1") format("woff2");
}

@font-face {
  font-family: "Inter:Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

html,
body,
#root {
  height: 100%;
}
